* {}

body {
    font-family: Roboto Mono !important;
    font: 400 14px/18px;
    margin: 0 0
}

.landingPageHeader {
    position: relative;
    color: var(--color);
    max-width: 1253px;
    margin: 0 auto;
    padding: 0 15px;
    justify-self: center;
    
}


.siteHeadContentInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.50em 0;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 2px solid black;
}

.site-logo {
    width: 110px;
}

nav {
    display: flex;
    align-items: center;
    position: relative;
}

.headMainList {
    display: flex;
}

nav a {
    text-decoration: none
}

.navItem {
    font-size: 16px;
    margin: 0 4px;
}

.langPickerSelected {
    padding-left: 4px;
    justify-content: center;
}

.langPickerArrow {
    font-size: 10px;
    margin: 0 4px;
}

.langOptions {
    display: none;


}

.langPicker:hover {
    cursor: pointer;
}

.langPicker:hover .langOptions {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    margin: 0 4px;
}

.grid {
    position: relative;
    color: var(--color);
    max-width: 1253px;
    margin: 0 auto;
    padding: 0 15px;
    justify-self: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
}

article {
    position: relative;
    margin: 40px auto;
    hyphens: auto;
    text-align: center;
    padding: 0 10px;
}

.post{
    margin-bottom: 0;
    letter-spacing: -.4px;
}

.content{
    max-width: 1260px;
    margin: 0 auto;
    overflow: hidden;
}

h5 a{
    font: 700 33px/42px Roboto Mono;
    letter-spacing: -.02em;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.post-title {
    margin: 0 0 10px;
}

.post-meta{
    font-family: Roboto Mono;
    font-size: 1.3rem;
   
}

.post-meta{
    font: 700 14px/20px Roboto Mono;
}

.preview-paragraph{
    font: 400 14px/20px Roboto Mono;
    font-size: .9em;
    text-align: left;
    letter-spacing: -1px;
    hyphens: auto;
    text-align: justify
}

.urlto-post {
    display: grid;
    justify-content: space-between;
    text-decoration: overline underline;
    text-transform:uppercase ;
    letter-spacing: .2rem;
    font: 400 14px/20px Roboto Mono;
    font-weight: bolder;
}
.navigation{
    font-size: 1rem;
    justify-content: center;
    position: relative;
    margin: 4rem;
    border-bottom: 5px;
    text-align: center;

}

.page-number{
    display: inline-block;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    padding: 7px;
}


.older-post{
    background: #eee url(/public/assets/prev.e36ac25f.png);
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: background .3s ease;
    width: 50px;
    height: 50px;
    margin-bottom: -20px;
    border-radius: 50%;
    border: 1px solid transparent;
    margin: 15px;
}


.site-footer{
position: relative;
margin: 4rem 0 0;
font-size: 1.3rem;
background-color: black;
color: #eee;
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;

}

footer .inner{
    padding-top: 2.5rem;
    padding-bottom: 4rem;
width: 100%;
display: flex;
justify-content: space-between;
text-align: right;
max-width: 1253px;
}


.footer-information{
    text-align: right;
    font-size: 12px;
    color: white;
}

.subscribe-sector{
    border: 1px solid white;
    height: fit-content;
    width: 218px;
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-image{
    background: #eee url(/public/assets/frog.d8ef8263.png);
    display: block;
    border: 1px solid grey;
    height: 65px;
    width: 50px;

}

.subscribe-text{
    
    font-family: Roboto Mono!important;
    font: 400 23px/24px Roboto Mono;
    text-decoration: none;
    color: #eee;
    display: block;
    margin-right: 6px;
    

}

.footer-rightsite-box{
    font-family: Roboto Mono!important;
    text-decoration: none;
    color: #eee;
    text-shadow: none;
    margin-right: 40px;    
}

footer a{
    text-decoration: none;
    color: #eee;
    text-decoration: underline;
}

.footer-nav-links{
    text-decoration: none;
    margin-bottom: 10px;
}

.copyright{
    text-decoration: none;
}

.poweredby{
    text-decoration: none;
}

.poweredby{
    text-decoration: none;
}